<ul id="slide-out" class="side-nav fixed center-align">
  <div class="brand-logo thin" {{action 'redirectHome'}}>
    <div class="valign-wrapper">
      <img class="logo-image" src="/assets/img/fire-logo.png">
      <span class="hide-on-small-only">Flame Stack</span>
      <span class="hide-on-med-and-up">Flame/St</span>
    </div>
  </div>
  <li class="sidenav-link" style="padding-bottom: 16px" {{action 'goReview'}}>
    <a class="pointer">
      {{t 'main.review'}}
    </a>
  </li>
  <li class="sidenav-link" style="padding-bottom: 16px" {{action 'goSetup'}}>
    <a class="pointer">
      {{t 'main.setup'}}
    </a>
  </li>
  <li class="sidenav-link" style="padding-bottom: 16px" {{action 'goFirstSteps'}}>
    <a class="pointer">
      {{t 'main.firstSteps'}}
    </a>
  </li>
  <li class="sidenav-link" style="padding-bottom: 16px" {{action 'goServices'}}>
    <a class="pointer">
      {{t 'main.services'}}
    </a>
  </li>
  <li class="sidenav-link" style="padding-bottom: 16px" {{action 'goRoutes'}}>
    <a class="pointer">
      {{t 'main.routes'}}
    </a>
  </li>
  <li class="sidenav-link" style="padding-bottom: 16px" {{action 'goSecurity'}}>
    <a class="pointer">
      {{t 'main.security'}}
    </a>
  </li>
  <li class="sidenav-link" style="padding-bottom: 16px" {{action 'goCss'}}>
    <a class="pointer">
      {{t 'main.css'}}
    </a>
  </li>
  <li class="sidenav-link" style="padding-bottom: 16px" {{action 'goMock'}}>
    <a class="pointer">
      {{t 'main.mockData'}}
    </a>
  </li>
  <li class="sidenav-link" style="padding-bottom: 16px" {{action 'goTools'}}>
    <a class="pointer">
      {{t 'main.tools'}}
    </a>
  </li>
  <li class="divider"></li>
  <li class="sidenav-link" style="padding-bottom: 16px" {{action 'goMoreProject'}}>
    <a class="pointer">
      {{t 'main.moreProject'}}
    </a>
  </li>
  <li class="divider"></li>
  <li class="sidenav-link" style="padding-bottom: 16px">
    {{#link-to 'en'}}
      <a class="valign-wrapper" {{action 'setLocale' 'en'}}><i class="tiny material-icons">language</i> English</a>
    {{/link-to}}
  </li>
  <li class="sidenav-link" style="padding-bottom: 16px">
    {{#link-to 'index'}}
      <a class="valign-wrapper" {{action 'setLocale' 'es'}}><i class="tiny material-icons">language</i> Castellano</a>
    {{/link-to}}
  </li>
</ul>
<a id="button-show-hide-side" href="#" data-activates="slide-out" class="button-collapse hide-on-large-only">
  <div class="fixed-action-btn" style="top: 45px; right: 24px; bottom: 80%">
    <a class="btn-floating btn-large amber darken-4">
      <i class="large mdi-navigation-menu"></i>
    </a>
  </div>
</a>
<div class="right main-container">

    {{outlet}}

    <footer class="page-footer amber darken-3">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h5 class="white-text">{{t 'main.links'}}</h5>
            <ul>
              <li>
                <a class="white-text" href="https://guides.emberjs.com/v2.0.0/" target="_blank">
                  Ember.js
                </a>
              </li>
              <li>
                - {{t 'main.emberGuide'}}.
              </li>
              <li>
                <a class="white-text" href="http://ember-cli.com/user-guide/" target="_blank">
                  Ember-cli
                </a>
              </li>
              <li>
                - {{t 'main.emberCLIGuide'}}.
              </li>
              <li>
                <a class="white-text" href="https://www.firebase.com/" target="_blank">
                  Firebase
                </a>
              </li>
              <li>
                - {{t 'main.firebaseGuide'}}.
              </li>
              <li>
                <a class="white-text" href="https://daneden.github.io/animate.css/" target="_blank">
                  Animate.css
                </a>
              </li>
              <li>
                - {{t 'main.animateGuide'}}.
              </li>
              <li>
                <a class="white-text" href="http://materializecss.com/" target="_blank">
                  Materialize
                </a>
              </li>
              <li>
                - {{t 'main.materializeGuide'}}.
              </li>
            </ul>
          </div>
          <div class="col s12">
            <h5 class="white-text">{{t 'main.growTogether'}}</h5>
            <p class="grey-text text-lighten-4 flow-text">
              {{t 'main.growTogetherText'}}.
            </p>


          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          {{t 'main.gluedBy'}} <a class="orange-text text-lighten-3" href="https://github.com/beeva-fernandobordallo" target="_blank">Fernando Bordallo</a>.
        </div>
      </div>
    </footer>
</div>




<script type="text/javascript">
  $(document).ready(function(){
    $(".button-collapse").sideNav();
  });

</script>
